.container1 {
    display: grid;
    grid-template-rows: 3rem 50rem 3rem;
    grid-template-columns: 10rem 1fr;
    grid-template-areas:
       'header header header'
       'sidebar content content'
       'footer footer footer';
}
.header {
    grid-area: header;
    background-color: #faf4ed;
}
    
.menu   {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    border: 2rem;
    flex-grow: 2;
}
    
.menu a{
    text-decoration: none;
    margin:15px;
    text-align:center;
    font-family: 'Playfair Display SC', serif;
}
.footer1 {
    grid-area: footer;
    text-align: center;
    padding: 1rem;
    font-family: 'Playfair Display SC', serif;
    background-color: #faf4ed;
}

.sidebar  {
    grid-area: sidebar;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0.5rem;
    background-color: #faf4ed;
}
    
.content {
    grid-area: content;
    font-size: large;
    padding: 5rem;
    font-family: 'Luckiest Guy', cursive;
    background-color: #f2e9de;
}
.bt {
    border: 0;
    line-height: 2.5;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 0 20px;
    background-color: #f2e9de;
    
}
.bt:hover {
    background-color: #faf4ed;
}

.bt2 {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 10px;
    background-color: #faf4ed;
}
.bt2:hover {
    background-color: #f2e9de;
}
.slbuttonclose1  {
    text-align: center;
}

.sidemenu   {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    list-style: none;
}
    
.nlist  {
    height: 20px;
    text-align: center;
    font-size: 20px;
    width: 100px;
}

.plus   {
    border: 0;
    padding: 1 20px;
    font-size: larger;
    text-align: center;
    border-radius: 10px;
    background-color: #f2e9de;
}
.plus:hover {
    background-color: #faf4ed;
}

.buttonsave     {
    
    position: relative;
    left: 500px;
    width: 500px;
}
    
#addnotes   {
    width: 570px;
    height: 100px;
    
}
a:link, a:visited  {
    list-style: none;
    text-decoration: none;
}
a:hover{
    color:#9893a5;
}
textarea {
    
    font-size: 2rem;
    letter-spacing: 1px;
    padding: 8px;
    line-height: 1;
    border-radius: 4px;
    border: 1px solid;
    box-shadow: 1px 1px 1px;
    background-color: #faf4ed;
}
@media screen and (max-width: 600px){
.container1 {
    display: grid;
    grid-template-rows: 3rem 45rem 3rem;
    grid-template-columns: 5rem 1fr;
    grid-template-areas:
        'header header header'
        'sidebar content content'
        'footer footer footer';
    }
.menu{
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    border: 0.2rem;
    flex-grow: 2;
}
.menu a{
    font-size: 0.75rem;
    text-decoration: none;
    margin:5px;
    text-align:center;
    font-family: 'Playfair Display SC', serif;
}
.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0.1rem;
    background-color: #faf4ed;
}
.content {
    grid-area: content;
    padding: 0.5rem;
    font-size: smaller;
    font-family: 'Luckiest Guy', cursive;
}
.bt{
    font-size: 10px;
    padding: 0px;
    text-align: center;
    }
.bt:hover {
    background-color: #faf4ed;
    }
.bt2 {
    font-size: 10px;
    padding: 0px;
    text-align: center;
}
.bt2:hover {
    background-color: #f2e9de;
}
.slbuttonclose1  {
    padding: 0rem;
}
#addnotes   {
    width: 150px;
    height: 30px;
}

.sidemenu   {
    list-style: none;
    width: 10px;
    padding: 18%;
}
.buttonsave     {
    padding: 0 0.5px;
    font-size: 0.75rem;
    text-align: center;
    border-radius: 0.5px;
    position: relative;
    left :60px;
    width:auto;
}

.nlist  {
    height: 30px;
    text-align: left;
    font-size: 0.8rem;
}
textarea {
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 1px;
    line-height: 1;
    border-radius: 1px;
    border: 1px solid;
    box-shadow: 1px 1px 1px;
    background-color: #faf4ed;
    }
.footer1 {
    grid-area: footer;
    text-align: right;
    font-size: 10px;
    font-family: 'Playfair Display SC', serif;
    background-color: #faf4ed;
    }
}